# npm stuff
node_modules

# Build dirs
/packages/lib/build
/packages/lib/dist
/packages/lib/lib
/packages/template/build
/packages/template/dist
/packages/template/lib
/packages/template-utils/build
/packages/template-utils/dist
/packages/template-utils/lib

# Temp dirs
tmp
temp

# For sass compiled bits
src/components/**/*.css
src/constants/**/*.css

# Env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Platform specific
.DS_Store

# Misc
/coverage
/docs
*.log

# Project Specific
/packages/lib/components
/packages/lib/config
/packages/lib/entry
/packages/lib/graphql
/packages/lib/modules
/packages/lib/utils
